$icon-font-path: "../fonts/";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "dd";

html {
	cursor: default;
	-webkit-font-smoothing: antialiased;
	-webkit-user-select: none;
	background: #fff;
}

.process-selector {
	position: absolute;
	top: 100px;
	left: 100px;
}
.progress-indicator {
	position: absolute;
	top: 100px;
	left: 100px;
	.background {
		position: absolute;
		top: -290px; left: 0px;
		width: 1200px; height: 800px;
		background-image: -webkit-gradient(radial, center center, 300, center center, 460, from(black), color-stop(80%, #CCC), color-stop(90%, #EEE), to(white));
	}
	.globe {
		position: absolute;
		top: -100px; left: 350px;
		width: 500px; height: 500px;
	}
	.status {
		position: absolute;
		width: 392px;
		height: 140px;
	}
	.streams {
		position: absolute;
		top: 60px;
		left: 20px;
		width: 390px;
		height: 90px;
		border: 1px solid #e3e3e3;
		background-color: whiteSmoke;
		overflow-y: scroll;

		table {
			width: 100%;
		}
		tr:nth-child(even) {
			background-color: white;
		}
		th {
			background-color: lightGray;
		}
		td {
			text-align: center;
			font-size: 11px;
		}
	}
	.preview {
		position: absolute;
		top: 190px;
		width: 300px;
		opacity: 0.7;
		li {
			border: 1px solid #eee;
			border-radius: 3px;
			padding: 5px 15px;
			margin-bottom: 2px;
			width: 400px;
			height: 75px;
			background-color: #ccc;
		}
		h3 {
			margin: 0;
			padding: 0;
			font-size: 12px;
			line-height: 12px;
		}
		.data {
			font-family: monospace;
			font-size: 10px;
			color: crimson;
		}
		.hex {
			width: 285px;
		}
		.ascii {
			width: 100px;
		}
	}
}
